In [1]:
import pandas as pd
pd.options.display.max_columns = None
import os
import warnings
warnings.filterwarnings('ignore')
import datetime
import numpy as np
import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error

In [2]:
#提取base_feature
def get_base_feature(df):
    df['time'] = df.START_DATE.apply(lambda x:x[:19])
    df['time'] = pd.to_datetime(df['time'],format='%Y-%m-%d-%H.%M.%S')
    timedelta = df['time'] - pd.datetime(df['time'].dt.year[0],df['time'].dt.month[0],df['time'].dt.day[0],0,0,0)
    df['30_min'] = timedelta.dt.seconds/1800
    df['30_min'] = df['30_min'].astype(int)
    df['20_min'] = timedelta.dt.seconds/1200
    df['20_min'] = df['20_min'].astype(int)
    df['10_min'] = timedelta.dt.seconds/600
    df['10_min'] = df['10_min'].astype(int)
    df['5_min'] = timedelta.dt.seconds/300
    df['5_min'] = df['5_min'].astype(int)
#     df['3_min'] = timedelta.dt.seconds/300
#     df['3_min'] = df['3_min'].astype(int)

    df['hour'] = df.START_DATE.apply(lambda x:int(x[11:13]))
    
    
    df.TRADE_TYPE[df.TRADE_TYPE==21] = 1
    df.TRADE_TYPE[df.TRADE_TYPE==22] = 0
    
    result = df.groupby(['date','TRADE_ADDRESS','INDUSTRY_CODE','CARD_TYPE_EX','CARD_TYPE','SAM_ID','TERMINAL_ID','RECORD_ROW','30_min','20_min','10_min','5_min']).TRADE_TYPE.agg(['count','sum']).reset_index()
    result['inNums'] = result['sum']
    result['outNums'] = result['count'] - result['sum']
    del result['count'],result['sum']
    
    result.date = pd.to_datetime(result.date)
    result['week'] = result.date.dt.dayofweek+1
    del df
    return result

In [3]:
#进一步提取特征
def more_feature(result):
    tmp = result.copy()

    tmp = result.groupby(['TRADE_ADDRESS'], as_index=False)['inNums'].agg({
                                                                        'inNums_ID_w_max'    : 'max',
                                                                        'inNums_ID_w_min'    : 'min', 
                                                                        'inNums_ID_w_mean'   : 'mean'
                                                                        'inNums_ID_w_sum'   : 'sum'
                                                                        })
    result = result.merge(tmp, on=['TRADE_ADDRESS'], how='left')

    tmp = result.groupby(['TRADE_ADDRESS','week','30_min'], as_index=False)['inNums'].agg({
                                                                        'inNums_ID_w_h_3_max'    : 'max',
                                                                        'inNums_ID_w_h_3_min'    : 'min', 
                                                                        'inNums_ID_w_h_3_mean'   : 'mean',
                                                                        'inNums_ID_w_h_3_sum'   : 'sum'
                                                                        })
    result = result.merge(tmp,on=['TRADE_ADDRESS','week','30_min'],how = 'left')
    #20
    tmp = result.groupby(['TRADE_ADDRESS','20_min'], as_index=False)['inNums'].agg({
                                                                        'inNums_ID_w_h_2_max'    : 'max',
                                                                        'inNums_ID_w_h_2_min'    : 'min', 
                                                                        'inNums_ID_w_h_2_mean'   : 'mean',
                                                                        'inNums_ID_w_h_2_sum'   : 'sum',      
                                                                
                                                                        })
    result = result.merge(tmp,on=['TRADE_ADDRESS','20_min'],how = 'left')
    
    tmp = result.groupby(['TRADE_ADDRESS','5_min'], as_index=False)['inNums'].agg({
                                                                        'inNums_ID_w_h_5_max'    : 'max',
                                                                        'inNums_ID_w_h_5_min'    : 'min', 
                                                                        'inNums_ID_w_h_5_mean'    : 'mean',
                                                                        'inNums_ID_w_h_5_sum'   : 'sum'
                                                                        })
    result = result.merge(tmp,on=['TRADE_ADDRESS','5_min'],how = 'left')
    
    
    
    ###出站与进站类似

    
    
    tmp = result.groupby(['TRADE_ADDRESS'], as_index=False)['outNums'].agg({
                                                                        'outNums_ID_max'    : 'max',
                                                                        'outNums_ID_min'    : 'min',
                                                                        'outNums_ID_mean'   : 'mean',
                                                                        'outNums_ID_sum'   : 'sum'
                                                                        })
    result = result.merge(tmp, on=['TRADE_ADDRESS'], how='left')
    


    ####按照week计算每个站口每小时的进站人数
    tmp = result.groupby(['TRADE_ADDRESS','30_min'], as_index=False)['outNums'].agg({
                                                                       
                                                                        'outNums_ID_w_h_3_max'    : 'max', 
                                                                        'outNums_ID_w_h_3_min'    : 'min', 
                                                                        'outNums_ID_w_h_3_mean'    : 'mean', 
                                                                        'outNums_ID_w_h_3_sum'    : 'sum', 
                                                           
                                                                        })
    result = result.merge(tmp,on=['TRADE_ADDRESS','30_min'],how = 'left')
    #20
    tmp = result.groupby(['TRADE_ADDRESS','20_min'], as_index=False)['outNums'].agg({
                                                              
                                                                        'outNums_ID_w_h_2_max'    : 'max', 
                                                                        'outNums_ID_w_h_2_min'    : 'min', 
                                                                        'outNums_ID_w_h_2_mean'    : 'mean', 
                                                                        'outNums_ID_w_h_2_sum'    : 'sum', 
                                                    
                                         
                                                                        })
    result = result.merge(tmp,on=['TRADE_ADDRESS','20_min'],how = 'left')
    #20
    tmp = result.groupby(['TRADE_ADDRESS','5_min'], as_index=False)['outNums'].agg({
                                                  
                                                                        'outNums_ID_w_h_5_max'   : 'max',
                                                                        'outNums_ID_w_h_5_min'   : 'min',
                                                                        'outNums_ID_w_h_5_mean'   : 'mean',
                                                                        'outNums_ID_w_h_5_sum'   : 'sum',
                                               
                                                                        })
    result = result.merge(tmp,on=['TRADE_ADDRESS','5_min'],how = 'left')
    
    return result

In [4]:
path = '../dataofweek/'

In [5]:
data12 = pd.read_csv(path+'12_week.csv')

In [6]:
data13= pd.read_csv(path+'13_week.csv')

In [7]:
data15 = pd.read_csv(path+'15_week.csv')

In [8]:
data16 = pd.read_csv(path+'16_week.csv')

In [9]:
df125 = data12[data12.week==5]
df135 = data13[data13.week==5]
df155 = data15[data15.week==5]
df165 = data16[data16.week==5]

In [10]:
del data15,data16,data12,data13

In [11]:
data = pd.concat([df125,df135],axis=0,ignore_index=True)
data = pd.concat([data,df155],axis=0,ignore_index=True)
data = pd.concat([data,df165],axis=0,ignore_index=True)

In [12]:
le = LabelEncoder()

In [13]:
data.SAM_ID = le.fit_transform(data.SAM_ID.values)

In [14]:
data.TERMINAL_ID = le.fit_transform(data.TERMINAL_ID.values)

In [15]:
data = get_base_feature(data)

In [16]:
data = more_feature(data)

In [17]:
data.shape

(2346529, 47)

In [18]:
prevent = data.copy()

In [19]:
#删除类别列别超过90%的列
cols = list(data.columns)
for col in cols:
    rate = data[col].value_counts(normalize = True,dropna = False).values[0]
    if ((rate>0.9)&(col!='INDUSTRY_CODE ')):
        cols.remove(col)
        print(col,rate)
data = data[cols]

INDUSTRY_CODE 0.9391965750263475
week 1.0
inNums_ID_w_min 1.0
inNums_ID_w_h_3_max 0.9800641713782356
inNums_ID_w_h_2_max 0.9872368933007007
inNums_ID_w_h_5_min 0.9993624625990133
outNums_ID_min 1.0
outNums_ID_w_h_3_min 0.999828683131553
outNums_ID_w_h_2_min 0.9997038178518143

In [20]:
columns = [ 'date',
    'TRADE_ADDRESS',
 'CARD_TYPE_EX',
 'CARD_TYPE',
 'SAM_ID',
 'TERMINAL_ID',
 'RECORD_ROW',
 '30_min',
 '20_min',
 '10_min',
 '5_min',
 'inNums',
 'outNums',
 'inNums_ID_w_mean',
 'inNums_ID_w_sum',

 'inNums_ID_w_h_3_mean',
 'inNums_ID_w_h_3_sum',

 'inNums_ID_w_h_2_mean',
 'inNums_ID_w_h_2_sum',
 'inNums_ID_w_h_5_max',
 'inNums_ID_w_h_5_mean',
 'inNums_ID_w_h_5_sum',
 'outNums_ID_max',
 'outNums_ID_mean',
 'outNums_ID_sum',
 'outNums_ID_w_h_3_mean',
 'outNums_ID_w_h_3_sum',
 'outNums_ID_w_h_2_max',
 'outNums_ID_w_h_2_mean',
 'outNums_ID_w_h_2_sum',
 'outNums_ID_w_h_5_max',
 'outNums_ID_w_h_5_min',
 'outNums_ID_w_h_5_mean',
 'outNums_ID_w_h_5_sum']

In [21]:
data = data[columns]

In [22]:
data.date.unique()

array(['2015-10-23T00:00:00.000000000', '2015-10-30T00:00:00.000000000',
       '2015-11-13T00:00:00.000000000', '2015-11-20T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [47]:
train_in = data[data.date<'2015-11-13']
y_train = train_in['inNums']
del train_in['inNums'],train_in['outNums']
del train_in['date']

val_in = data[data.date=='2015-11-13']
y_val = val_in['inNums']
del val_in['inNums'],val_in['outNums']
del val_in['date']


test_in = data[data.date=='2015-11-20']
y_test = test_in['inNums']
del test_in['inNums'],test_in['outNums']
del test_in['date']

lgb_train = lgb.Dataset(train_in, y_train)
lgb_evals = lgb.Dataset(val_in, y_val , reference=lgb_train)

In [48]:
X_train_in = data[data.date<='2015-11-13']
X_y_train = X_train_in['inNums']
del X_train_in['inNums'],X_train_in['outNums']
del X_train_in['date']

In [26]:
sub = data[data.date=='2015-11-20']

In [27]:
#lgb参数
params = {
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': 'mae',
    'num_leaves': 63,
    'learning_rate': 0.01,
    'feature_fraction': 0.8,
    'bagging_fraction': 0.9,
    'bagging_seed':0,
    'bagging_freq': 1,
    'verbose': 1,
    'reg_alpha':1,
    'reg_lambda':2,
    'min_child_weight':6
}

In [56]:
gbm = lgb.train(params,
                lgb_train,
                num_boost_round=15000,
                valid_sets=[lgb_train,lgb_evals],
                valid_names=['train','valid'],
                early_stopping_rounds=50,
                verbose_eval=1000,
                )

Training until validation scores don't improve for 50 rounds.
[1000]	train's l1: 0.0206833	valid's l1: 0.0227233
[2000]	train's l1: 0.0118318	valid's l1: 0.0145607
[3000]	train's l1: 0.00864104	valid's l1: 0.0116269
[4000]	train's l1: 0.00694071	valid's l1: 0.0100167
[5000]	train's l1: 0.00593907	valid's l1: 0.00904751
[6000]	train's l1: 0.00526944	valid's l1: 0.00840359
[7000]	train's l1: 0.00479311	valid's l1: 0.00793839
[8000]	train's l1: 0.00443202	valid's l1: 0.00757951
[9000]	train's l1: 0.00414269	valid's l1: 0.00729674
[10000]	train's l1: 0.00391329	valid's l1: 0.0070737
[11000]	train's l1: 0.00371705	valid's l1: 0.00688281
[12000]	train's l1: 0.00354996	valid's l1: 0.00672064
[13000]	train's l1: 0.00340538	valid's l1: 0.00658675
[14000]	train's l1: 0.00328127	valid's l1: 0.00647063
[15000]	train's l1: 0.00317103	valid's l1: 0.00636961
Did not meet early stopping. Best iteration is:
[15000]	train's l1: 0.00317103	valid's l1: 0.00636961

In [57]:
pre_in = gbm.predict(test_in,num_iteration=gbm.best_iteration)

In [58]:
error_in = mean_absolute_error(pre_in,y_test)
error_in

0.00686554716219519

In [59]:
sub['pre_in'] = pre_in

In [34]:
train_out = data[data.date<'2015-11-13']
y_train = train_out['outNums']
del train_out['inNums'],train_out['outNums']
del train_out['date']

val_out = data[data.date=='2015-11-13']
y_val = val_out['outNums']
del val_out['inNums'],val_out['outNums']
del val_out['date']

test_out = data[data.date=='2015-11-20']
y_test = test_out['outNums']
del test_out['inNums'],test_out['outNums']
del test_out['date']

lgb_train = lgb.Dataset(train_out, y_train)
lgb_evals = lgb.Dataset(val_out, y_val , reference=lgb_train)

In [35]:
X_train_out = data[data.date<='2015-11-13']
X_y_train = X_train_out['outNums']
del X_train_out['inNums'],X_train_out['outNums']
del X_train_out['date']

In [36]:
gbm1 = lgb.train(params,
                lgb_train,
                num_boost_round=20000,
                valid_sets=[lgb_train,lgb_evals],
                valid_names=['train','valid'],
                early_stopping_rounds=50,
                verbose_eval=1000,
                )

Training until validation scores don't improve for 50 rounds.
[1000]	train's l1: 0.0225203	valid's l1: 0.0245508
[2000]	train's l1: 0.0141764	valid's l1: 0.0167155
[3000]	train's l1: 0.0111819	valid's l1: 0.0139317
[4000]	train's l1: 0.00979086	valid's l1: 0.0126215
[5000]	train's l1: 0.00906535	valid's l1: 0.0119433
[6000]	train's l1: 0.00857838	valid's l1: 0.0114922
[7000]	train's l1: 0.00825245	valid's l1: 0.0111886
[8000]	train's l1: 0.00801695	valid's l1: 0.0109669
[9000]	train's l1: 0.00784009	valid's l1: 0.0108072
[10000]	train's l1: 0.00768193	valid's l1: 0.0106686
[11000]	train's l1: 0.00756289	valid's l1: 0.0105689
[12000]	train's l1: 0.00745786	valid's l1: 0.0104862
[13000]	train's l1: 0.00737538	valid's l1: 0.0104237
[14000]	train's l1: 0.00730364	valid's l1: 0.0103719
[15000]	train's l1: 0.0072411	valid's l1: 0.0103289
[16000]	train's l1: 0.00718239	valid's l1: 0.0102882
[17000]	train's l1: 0.0071339	valid's l1: 0.0102556
[18000]	train's l1: 0.00708457	valid's l1: 0.0102209
Early stopping, best iteration is:
[18528]	train's l1: 0.00706223	valid's l1: 0.010207

In [37]:
pre_out = gbm1.predict(test_out,num_iteration=gbm1.best_iteration)

In [38]:
error_out = mean_absolute_error(pre_out,y_test)
error_out

0.010470816274103983

In [39]:
sub['pre_out'] = pre_out

In [40]:
sub.head()

,date,TRADE_ADDRESS,CARD_TYPE_EX,CARD_TYPE,SAM_ID,TERMINAL_ID,RECORD_ROW,30_min,20_min,10_min,5_min,inNums,outNums,inNums_ID_w_mean,inNums_ID_w_sum,inNums_ID_w_h_3_mean,inNums_ID_w_h_3_sum,inNums_ID_w_h_2_mean,inNums_ID_w_h_2_sum,inNums_ID_w_h_5_max,inNums_ID_w_h_5_mean,inNums_ID_w_h_5_sum,outNums_ID_max,outNums_ID_mean,outNums_ID_sum,outNums_ID_w_h_3_mean,outNums_ID_w_h_3_sum,outNums_ID_w_h_2_max,outNums_ID_w_h_2_mean,outNums_ID_w_h_2_sum,outNums_ID_w_h_5_max,outNums_ID_w_h_5_min,outNums_ID_w_h_5_mean,outNums_ID_w_h_5_sum,pre_in,pre_out
1760511,2015-11-20,121,0,98,31,6,8,23,34,69,138,0,1,0.570321,69878,0.591296,1943,0.639391,1555,0,0.00000,0,3,0.43203,52934,0.412051,1354,2,0.363487,884,2,1,1.009091,222,-0.000104,1.077455
1760512,2015-11-20,121,0,98,31,6,9,23,34,69,138,0,1,0.570321,69878,0.591296,1943,0.639391,1555,0,0.00000,0,3,0.43203,52934,0.412051,1354,2,0.363487,884,2,1,1.009091,222,-0.000104,1.077455
1760513,2015-11-20,121,0,98,31,6,10,21,32,64,129,0,1,0.570321,69878,0.659498,2576,0.679496,1889,0,0.00000,0,3,0.43203,52934,0.342806,1339,2,0.323022,898,2,1,1.008403,240,-0.000358,1.072651
1760514,2015-11-20,121,0,98,31,6,10,27,41,82,164,0,1,0.570321,69878,0.625310,2777,0.657782,2147,1,0.71093,696,3,0.43203,52934,0.375816,1669,2,0.343750,1122,2,0,0.290092,284,-0.004265,1.012367
1760515,2015-11-20,121,0,98,31,6,10,36,54,108,217,0,1,0.570321,69878,0.494088,3343,0.418438,1693,0,0.00000,0,3,0.43203,52934,0.508277,3439,2,0.584528,2365,2,1,1.001718,583,-0.002917,0.999057

In [60]:
sub1 = sub.groupby(['date','TRADE_ADDRESS']).pre_in.agg({'inNums':'sum'}).reset_index()
sub2 = sub.groupby(['date','TRADE_ADDRESS']).pre_out.agg({'outNums':'sum'}).reset_index()
sub_result = sub1.merge(sub2,on = ['date','TRADE_ADDRESS'],how='left')
sub_result['flow'] = sub_result.inNums + sub_result.outNums
sub_result['round_pre'] = np.round(sub_result.flow)
sub_result['round_in'] = np.round(sub_result.inNums)
sub_result['round_out'] = np.round(sub_result.outNums)

In [61]:
real1 = sub.groupby(['date','TRADE_ADDRESS']).inNums.agg({'inNums':'sum'}).reset_index()
real2 = sub.groupby(['date','TRADE_ADDRESS']).outNums.agg({'outNums':'sum'}).reset_index()
real = real1.merge(real2,on = ['date','TRADE_ADDRESS'],how='left')
real['flow'] = real.inNums + real.outNums

In [62]:
mean_absolute_error(sub_result.round_pre,real.flow)

13.55

In [63]:
sub_result.head()

,date,TRADE_ADDRESS,inNums,outNums,flow,round_pre,round_in,round_out
0,2015-11-20,121,17463.121038,12944.356483,30407.477520,30407.0,17463.0,12944.0
1,2015-11-20,123,6692.081976,6287.218248,12979.300224,12979.0,6692.0,6287.0
2,2015-11-20,125,11592.093096,14599.330435,26191.423531,26191.0,11592.0,14599.0
3,2015-11-20,127,12547.328686,12384.223202,24931.551887,24932.0,12547.0,12384.0
4,2015-11-20,129,8238.086484,8360.547688,16598.634171,16599.0,8238.0,8361.0

In [64]:
real.head()

        date  TRADE_ADDRESS  inNums  outNums   flow
0 2015-11-20            121   17504    12910  30414
1 2015-11-20            123    6878     6127  13005
2 2015-11-20            125   11671    14493  26164
3 2015-11-20            127   12645    12288  24933
4 2015-11-20            129    8326     8249  16575

In [67]:
re_path = '../result1/'
sub_result.to_csv(re_path+'5_flow_pre.csv',encoding='utf-8',index=False)
real.to_csv(re_path+'5_flow_real.csv',encoding='utf-8',index=False)

In [65]:
features=train_in.columns
feature_rank=gbm.feature_importance()
features_df=pd.DataFrame({ 'column':features,'importance': feature_rank}).sort_values(by='importance', ascending=False)
print(features_df)

                   column  importance
4             TERMINAL_ID      174067
3                  SAM_ID      148133
17   inNums_ID_w_h_5_mean       99108
5              RECORD_ROW       82721
12   inNums_ID_w_h_3_mean       59930
18    inNums_ID_w_h_5_sum       47931
29  outNums_ID_w_h_5_mean       35251
14   inNums_ID_w_h_2_mean       24422
30   outNums_ID_w_h_5_sum       23078
22  outNums_ID_w_h_3_mean       21006
13    inNums_ID_w_h_3_sum       19011
9                   5_min       18576
6                  30_min       18425
0           TRADE_ADDRESS       17573
15    inNums_ID_w_h_2_sum       15963
8                  10_min       15138
23   outNums_ID_w_h_3_sum       14320
26   outNums_ID_w_h_2_sum       12835
2               CARD_TYPE       12647
7                  20_min       12305
16    inNums_ID_w_h_5_max       10398
1            CARD_TYPE_EX       10093
25  outNums_ID_w_h_2_mean        9612
10       inNums_ID_w_mean        9606
11        inNums_ID_w_sum        9003
21         outNums_ID_sum        4157
20        outNums_ID_mean        2674
27   outNums_ID_w_h_5_max        1053
24   outNums_ID_w_h_2_max         476
28   outNums_ID_w_h_5_min         351
19         outNums_ID_max         137